<h3>Characters</h3>
<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/character/my-fav-characters">myFavourite</a></li>
    <li><a href="/characters/create">create</a></li>
    <li><a href="/created-characters">MyCreated</a></li>
</ul>