@import 'module.css';


body {
    background-color: rgb(189, 157, 219);
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin-right: 12px;
}
ul li {
    list-style: none;
    padding: 8px;
}
ul li a {
    text-decoration: none;
    color: black;

}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    margin: 10px;
}