<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head.ejs')  %> 
</head>
<body>
    <header>
        <%- include('../layouts/header.ejs')  %> 

    </header>

    <main>
        <form action="/characters/my-characters" method="POST">
            name :
            <input type="text" name="name"><br>
            house :
            <input type="text" name="house"><br>
            patronus :
            <input type="text" name="patronus"><br>
            is_alive : 
           <select name="status" id="">
       
                <option value="true">alive</option>
                <option value="false">dead</option>
                   
        </select><br>
        <input type="submit" value="create">
        </form>
    </main>
    
</body>
</html>